@mixin background-style() {
  background-color: white;
  opacity: 0.7;
}

@mixin manager-format($width, $margin) {
  width: $width;
  margin: $margin;
}

@mixin status-color($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
}

@mixin status-style() {
  height: 30px;
  margin: 18px 0px 0px 0px;
  display: flex;
  padding: 0px 40px 0px 40px;
  border: solid 1px;
  border-radius: $border-radius;
}

@mixin button-change() {
  font-family: $main-font;
  border-radius: $border-radius;
  color: white;
  width: 100px;
}

@mixin button-styles() {
  outline: none;
  border: solid black 1px;
}
