.today-booking-card {
  display: flex;
  border: $border-line;
  border-radius: $border-radius;
  margin: 10px 5% 10px 5%;
  font-family: $main-font;
}

.booking-info {
  width: 75%;
  padding-left: 20px;
}

.manager-booking-card {
  display: flex;
  font-family: $main-font;
}

.manager-booking-date {
  @include manager-format(200px, 10px 0px 10px 100px)
}

.manager-booking-roomtype {
  @include manager-format(250px, 10px 0px 10px 0px)
}

.manager-booking-roomnum {
  @include manager-format(100px, 10px 40px 10px 0px)
}

.manager-booking-cost {
  @include manager-format(150px, 10px 40px 10px 5px)
}

.manager-booking-id {
  @include manager-format(180px, 10px 40px 10px 0px)
}

.manager-booking-roomtype2 {
  @include manager-format(200px, 10px 40px 10px 70px)
}

.manager-booking-numbeds {
  @include manager-format(100px, 10px 40px 10px 0px)
}

.manager-booking-bidet {
  @include manager-format(100px, 10px 15px 10px 0px)
}

.manager-booking-roomnum2 {
  @include manager-format(100px, 10px 20px 10px 20px)
}

.manager-booking-cost2 {
  @include manager-format(80px, 10px 10px 10px 0px)
}

.no-bookings {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  font-size: 20px;
  margin-top: 10%;
}

.room-type {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.room-number {
  margin-bottom: 0px;
  margin-top: 10px;
}

.room-price {
  font-family: $main-font;
  font-size: 35px;
  margin-right: 22px;
}

.stay-date {
  margin-bottom: 0px;
  margin-top: 0px;
}

.customer-name {
  margin-bottom: 0px;
  margin-top: 0px;
}

.confirmation-number {
  margin-bottom: 0px;
  margin-top: 0px;
}

.delete-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  border-left: $border-line;
}

.book-room {
  font-family: $main-font;
  margin: 0px 10px 10px 10px;
}
