/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background:
// ;

body {
  background: url('https://www.telegraph.co.uk/content/dam/Travel/hotels/hotel-wishlist/the-lanesborough-suite-london.jpg');
  background-size: 100%;
}

// Banner

header {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}

h1 {
  display: flex;
  font-family: 'Spectral SC', serif;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.hotel-crest {
  display: flex;
  height: 100px;
  width: 100px;
}

.hotel-info {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: white;
  margin-top: 0px;
  padding-bottom: 10px;
  border-radius: 5px;
}



.hidden {
  display: none;
}
